{% extends 'base.html' %}


{% block title %}Корзина{% endblock %}


{% block content %}

<h1 class="text-center mt-2">Корзина</h1>

{% if cart %}
<div class="row row-cols-1 row-cols-md-3">
    {% for i in cart %}
    <div class="col-12 mb-4">
        <div class="card h-100">
            <a href="#">
                <img class="card-img-top rounded mx-auto d-block"  style="max-width: 100%;" src="{{ i.product.image.url }}" alt="{{ i.product.title }}">
            </a>
            <div class="card-body">
                <div class="card-title">
                    <b>{{ i.product.title }}</b>
                </div>
                <div class="card-text">
                    <div class="row">
                        <div class="col-5">
                            <span class="h3 mb-1">{{ i.product.price }}₽</span>
                        </div>
                        <div class="col-7">
                            <a href="#"><button type="button" class="btn btn-lg btn-warning float-right">Купить</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}